@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply snap-y overflow-y-scroll snap-always;
}

/*.montserrat {*/
/*    !*font-family: 'Josefin Sans', sans-serif;*!*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

::-webkit-scrollbar {
    width: 4px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: #D8E9A8;
}

::-webkit-scrollbar-thumb:hover {
    background: #3C685E;
}

::selection {
    background: #D8E9A8;
    color: black;
}