@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
    @apply p-0 m-0 box-border
}


body {
    @apply bg-[#121212] overflow-hidden overflow-y-scroll;
    cursor: url('cursor.svg') 15 15, default;
    /*bg-[#F2F2F2]*/
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-track {
    /*@apply dark:bg-[#121212] bg-white*/
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply bg-[#D8E9A8] dark:bg-[#D8E9A8]
}

::-webkit-scrollbar-thumb:hover {
    background: #4E9F3D;
}

::selection {
    background: #D8E9A8;
    color: black;
}

.answer {
    @apply hidden;
}

#linkCursor {
    /*@apply border-white*/
    cursor: url('cursor_pointer.svg') 15 15, pointer;
}