@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply snap-y overflow-y-scroll snap-always overflow-hidden;
}

body {
    @apply dark:bg-[#121212] bg-[#F2F2F2];
    cursor: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-track {
    /*@apply dark:bg-[#121212] bg-white*/
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply bg-[#D8E9A8] dark:bg-[#D8E9A8]
}

::-webkit-scrollbar-thumb:hover {
    background: #4E9F3D;
}

::selection {
    background: #D8E9A8;
    color: black;
}

.answer {
    @apply hidden;
}
